<template>
  <form @submit.prevent="lookForUser">
    <v-text-field
      label="Search"
      :rules="rules"
      hide-details="auto"
      @input="updateSearchPhrase"
      v-model="phrase"
    ></v-text-field>
  </form>
</template>


<script>
import { mapGetters, mapActions } from "vuex";

export default {
  data: () => ({
    rules: [
      (value) => !!value || "Required.",
      (value) => (value && value.length >= 2) || "Min 2 characters",
    ],
    phrase: "",
  }),
  computed: {
    ...mapGetters("users", ["searchPhrase"]),
  },
  methods: {
    ...mapActions("users", ["lookForUser"]),
    updateSearchPhrase() {
      this.$store.commit("users/updateSearchPhrase", this.phrase);
    },
  },
  mounted() {
    this.phrase = this.searchPhrase;
  },
};
</script>