<template>
  <div>
    <v-list>
      <v-list-item
        v-for="repo in userRepos"
        :key="repo.full_name"
        :href="repo.html_url"
        target="_blank"
        class="py-4 px-6"
        three-line
      >
        <v-list-item-content>
          <v-list-item-title>
            {{ repo.full_name }}
            <v-chip small class="mx-2">{{ repo.language ? repo.language : 'N/A' }} </v-chip>
          </v-list-item-title>
          <v-list-item-subtitle class="mt-2">
            <v-icon class="mr-2">mdi-eye-outline </v-icon>Watch
            <v-chip small outlined class="mx-2">{{ repo.watchers_count }} </v-chip>

            <v-icon class="mx-2">mdi-source-fork </v-icon>Fork
            <v-chip small outlined class="mx-2">{{ repo.forks_count }} </v-chip>

            <v-icon class="mx-2">mdi-star-outline</v-icon>Star
            <v-chip small outlined class="mx-2">{{ repo.stargazers_count }} </v-chip>
            
            <v-icon class="mx-2">mdi-license</v-icon>License
            <v-chip small outlined class="mx-2">{{ repo.license ? repo.license.name : 'N/A' }} </v-chip>
          </v-list-item-subtitle>
          <v-list-item-subtitle class="mt-4">
            {{ repo.description }}
          </v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  computed: {
    ...mapGetters("users", { userRepos: "getCurrentUserRepos" }),
  },
};
</script>