<template>
  <div>
    <v-icon
      :color="isFav ? 'orange darken-3' : 'gray'"
      @click="toggleUserFav(userId)"
    >
      mdi-star
    </v-icon>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  props: {
    userId: Number,
  },
  data: () => ({
    isFav: false,
  }),
  methods: {
    ...mapGetters("users", ["searchPhrase", "users", "usersTotal"]),
    toggleUserFav(id) {
      if (this.isFav) {
        this.$store.commit("favorites/removeUserFromFav", id);
        this.isFav = false;
      } else {
        const user = this.users().find((user) => user.id === id);
        this.$store.commit("favorites/addUserToFav", user);
        this.isFav = true;
      }
    },
  },
  mounted(){
    this.isFav = this.$store.getters['favorites/userIsInFav'](this.userId)
  }
};
</script>
