<template>
  <v-list-item-group>
    <v-subheader>{{ title }}</v-subheader>
    <v-card-text v-if="!users || users.length == 0">
      <p>{{ noUserMessage }}</p>
    </v-card-text>
    <v-list-item
      v-else
      v-for="user in users"
      :key="user.id"
      @click="getUserProfile(user.login, (with_repos = true))"
    >
      <v-list-item-avatar>
        <v-img :src="user.avatar_url"></v-img>
      </v-list-item-avatar>

      <v-list-item-content>
        <v-list-item-title>{{ user.login }}</v-list-item-title>
      </v-list-item-content>

      <v-list-item-icon>
        <user-star :user-id="user.id" />
      </v-list-item-icon>
    </v-list-item>
  </v-list-item-group>
</template>

<script>
import { mapActions } from "vuex";
import UserStar from "../users/TheUserStar";

export default {
  props: {
      "users": Array, 
      "title": {
          type: String,
          default: "Users"
      },
      "noUserMessage": {
          type: String,
          default: "No users were found!"
      }
  },
  components: {
    UserStar,
  },
  methods: {
    ...mapActions("users", ["getUserProfile"]),
  }
};
</script>