<template>
  <div>
    <v-card tile class="mx-12 my-12" v-if="!user.id">
      <v-card-text>
        <p class="text-h4 text--primary">No users were found!</p>
        <div class="text--primary">
          Please select a user to view the details.
        </div>
      </v-card-text>
    </v-card>

    <v-card class="mx-12 my-12" v-else>
      <v-list-item four-line>
        <v-list-item-avatar tile size="160" color="grey" class="rounded-lg">
          <img
            width="160"
            alt="user"
            :src="user.avatar_url"
            class="rounded-lg"
          />
        </v-list-item-avatar>
        <v-list-item-content>
          <!-- <div class="text-overline mb-4">OVERLINE</div> -->
          <v-list-item-title class="text-h5 mb-1">
            {{ user.name }}
          </v-list-item-title>
          <v-list-item-subtitle>
            <v-icon>mdi-map-marker</v-icon>
            {{ user.location ? user.location : "N/A" }}
            <v-icon>mdi-office-building </v-icon>
            {{ user.company ? user.company : "N/A" }}
            <v-icon>mdi-briefcase </v-icon>
            {{ isHireable }}
            <div class="grey--text mt-2">
              Join date: {{ getHumanReadableDate(user.created_at) }}
            </div>
            <div>
              <v-btn
                class="ma-2"
                text
                icon
                color="light-blue"
                target="_blank"
                :href="twitterUrl"
                :disabled="!user.twitter_username"
              >
                <v-icon>mdi-twitter</v-icon>
              </v-btn>
              <v-btn
                class="ma-2"
                text
                icon
                color="blue"
                target="_blank"
                :href="user.blog"
                :disabled="!user.blog"
              >
                <v-icon>mdi-web</v-icon>
              </v-btn>
            </div>
          </v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>

      <v-card-text>
        <div>
          {{ user.bio }}
        </div>
      </v-card-text>

      <v-divider class="mx-4"></v-divider>
      <v-card-title>Statistics</v-card-title>
      <v-card-text>
        <v-row>
          <v-col>
            <p><strong>Followers: </strong> {{ user.followers }}</p>
          </v-col>
          <v-col>
            <p><strong>Following: </strong> {{ user.following }}</p>
          </v-col>
          <v-col>
            <p><strong>Public repos: </strong> {{ user.public_repos }}</p>
          </v-col>
          <v-col>
            <p><strong>Public gists: </strong> {{ user.public_gists }}</p>
          </v-col>
        </v-row>
      </v-card-text>

      <v-divider class="mx-4"></v-divider>
      <v-card-title>User Repos</v-card-title>

      <v-card-text>
        <user-repos></user-repos>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import TheUserRepos from "./TheUserRepos";

export default {
  components: {
    "user-repos": TheUserRepos,
  },
  computed: {
    ...mapGetters("users", { user: "getCurrentUser" }),
    twitterUrl() {
      return `https://twitter.com/${this.user.twitter_username}`;
    },
    isHireable() {
      if (this.user.hireable) {
        return "Is hireable"
      } else if (this.user.hireable === false) {
        return "Is not hireable"
      } else {
        return "N/A"
      }
    }
  },
  methods: {
    ...mapActions("users", ["getUserRepos"]),
    getHumanReadableDate(dateTime) {
      const dt = new Date(dateTime);
      return dt.toUTCString();
    },
  },
};
</script>