<template>
  <v-container class="pa-0">
    <v-row no-gutters>
      <v-col cols="3">
        <v-divider></v-divider>

        <v-list class="grey lighten-4">
          <user-list
            :users="users"
            title="Favorites users"
            no-user-message="You don't have any favorite users!"
          ></user-list>
        </v-list>
      </v-col>

      <v-col>
        <user-detail></user-detail>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import UserList from "../users/TheUserList";
import UserDetail from "../users/UserDetail";

export default {
  components: {
    UserList,
    UserDetail,
  },
  data: () => ({}),
  computed: {
    ...mapGetters("favorites", ["users"]),
  },
  methods: {
    ...mapActions("users", ["lookForUser", "getUserProfile"]),
    addUserToFav(id) {
      const user = this.users.find((user) => user.id === id);
      this.$store.commit("favorites/addUserToFav", user);
    },
    getStarColor(id) {
      return "gray";
    },
  },
};
</script>