<template>
  <v-container class="pa-0">
    <v-row no-gutters>
      <v-col cols="3">
        <v-card-text class="grey lighten-4">
          <user-search></user-search>
        </v-card-text>

        <v-divider></v-divider>

        <v-list class="grey lighten-4">
          <user-list :users="users"></user-list>
        </v-list>
      </v-col>

      <v-col>
        <user-detail></user-detail>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import UserList from "../users/TheUserList";
import UserDetail from "../users/UserDetail";
import UserSearch from "../users/TheUserSearch";

export default {
  components: {
    UserList,
    UserDetail,
    UserSearch
  },
  data: () => ({
  }),
  computed: {
    ...mapGetters("users", ["users", "usersTotal"]),
  },
  methods: {
    ...mapActions("users", ["lookForUser", "getUserProfile"]),
    addUserToFav(id) {
      const user = this.users.find((user) => user.id === id);
      this.$store.commit("favorites/addUserToFav", user);
    },
    getStarColor(id) {
      console.log(this.userIsInFav(id));
      return "gray";
    }
  }
};
</script>