<template>
  <v-app>
    <drawer></drawer>
    <v-main>
      <router-view></router-view>
    </v-main>
  </v-app>
</template>

<script>
import TheDrawer from './components/Nav/TheDrawer'

export default {
  name: "App",
  components: {
    "drawer": TheDrawer
  },
  data: () => ({
    rules: [
      (value) => !!value || "Required.",
      (value) => (value && value.length >= 2) || "Min 2 characters",
    ],
    isSearchFormVisible: true,
    phrase: "",
  }),
};
</script>
