<template>
  <v-navigation-drawer app color="grey lighten-5" permanent>
    <v-list-item
      v-for="link in links"
      :key="link.title"
      :to="link.href"
      color="black"
    >
      <v-list-item-icon>
        <v-icon>{{ link.icon }}</v-icon>
      </v-list-item-icon>

      <v-list-item-content>
        <v-list-item-title>{{ link.title }}</v-list-item-title>
      </v-list-item-content>
    </v-list-item>
  </v-navigation-drawer>
</template>

<script>
export default {
  data: () => ({
    links: [
      { title: "Explore", href: "/explore", icon: "mdi-view-dashboard" },
      { title: "Favorites", href: "/favorites", icon: "mdi-star" },
    ],
  }),
};
</script>